<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>浮动</title>
    <style type="text/css">
        .box1{
            height: 50px;
            background: red;
            float: left;
        }
        .box2{
            height: 50px;
            background: blue;
            float:left;
        }
        /*p{clear:both} 两种方式清除浮动*/
        p{width: 100%;overflow: hidden}
    </style>
</head>
<body>
<p>dddddddd</p>
<div class="box1">box1</div>
<div class="box2">box2</div>
<p>sld受到法律考试大家疯狂拉升的减肥啦始料所及福利撒酒疯拉萨减肥啦世界的风jflasdklfasldfjklasjdfklsldjflasdklfasldfjklasjdfklsldjfsldjf
    lasdklfasldfjklasjdfklsldjflasdklfasldfjklasjdfkllasdklfasldfjklasjdfklsldjflasdklfasldfjklasjdfklasjflsajfljsal</p>
</body>
</html>