<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    <!--
	<bean id="dubbo" class="com.tower.service.config.ConfigurationFactoryBean">
		<property name="name" value="dubbo" />
        <property name="encoding" value="utf8" />
	</bean>
    -->
    <!--<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <value>classpath:/properties/*.properties</value>
        </property>

        <property name="properties">
            <bean id="propertiesConfigurationFactoryBean"
                  class="com.tower.service.config.CommonsConfigurationFactoryBean">
                <property name="configurations">
                    <list>
                        <ref bean="dubbo" />
                    </list>
                </property>
            </bean>
        </property>
    </bean>-->
    <!--<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping">-->
        <!--<property name="interceptors">-->
            <!--<list>-->
                <!--<bean class="com.leya.interceptor.TokenInterceptor"/>-->
            <!--</list>-->
        <!--</property>-->

    <!--</bean>-->
    <!--
    <import resource="classpath:/config/spring/service/spring-service-dubbo.xml"/>

     -->
    <!-- 启用@AspectJ 支持 -->
    <import resource="classpath:config.spring/service/dubbo-service.xml"/>
    <bean id="springContextUtil" lazy-init="false" class="com.mo.base.SpringContextUtil" />

</beans>
