<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../webapp/test/test05.css"/>
</head>
<body>
<div class="page">
    <div class="w">
        <div class="people">
            <div class="info">
                <div class="image"></div>
                <p class="job"><span>闫鹏</span> 硕士 院长 主任医师</p>
                <p>所属门诊： 上海乐雅口腔门诊部</p>
                <p>临床工作年限：25年</p>
                <p>学科专长： 口腔正畸及种植专业</p>
            </div>

            <div class="info">
                <div class="image"></div>
                <p class="job"><span>闫鹏</span> 硕士 院长 主任医师</p>
                <p>所属门诊： 上海乐雅口腔门诊部</p>
                <p>临床工作年限：25年</p>
                <p>学科专长： 口腔正畸及种植专业</p>
            </div>
            <hr/>
            <div class="info">
                <div class="image"></div>
                <p class="job"><span>闫鹏</span> 硕士 院长 主任医师</p>
                <p>所属门诊： 上海乐雅口腔门诊部</p>
                <p>临床工作年限：25年</p>
                <p>学科专长： 口腔正畸及种植专业</p>
            </div>

            <div class="info">
                <div class="image"></div>
                <p class="job"><span>闫鹏</span> 硕士 院长 主任医师</p>
                <p>所属门诊： 上海乐雅口腔门诊部</p>
                <p>临床工作年限：25年</p>
                <p>学科专长： 口腔正畸及种植专业</p>
            </div>
            <hr/>
            <div class="info">
                <div class="image"></div>
                <p class="job"><span>闫鹏</span> 硕士 院长 主任医师</p>
                <p>所属门诊： 上海乐雅口腔门诊部</p>
                <p>临床工作年限：25年</p>
                <p>学科专长： 口腔正畸及种植专业</p>
            </div>

            <div class="info">
                <div class="image"></div>
                <p class="job"><span>闫鹏</span> 硕士 院长 主任医师</p>
                <p>所属门诊： 上海乐雅口腔门诊部</p>
                <p>临床工作年限：25年</p>
                <p>学科专长： 口腔正畸及种植专业</p>
            </div>
        </div>
    </div>
    <hr/>
</div>
</body>
</html>